* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #e9ebee;
}
.bar {
  height: 100px;
  background-color: #3c5a99;
  padding: 10px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
}
.headerText {
  color: #d9dfeb;
  font-size: 40px;
}
.signupText {
  color: #d9dfeb;
  background-color: #42b72a;
  width: 70px;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  height: fit-content;
  margin-top: 10px;
}
.loginFormCont{
    background-color: white;
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.loginForm{
    text-align: center;
}
.loginText{
    font-weight: bold;
    font-size: 30px;
}
.inputForm{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #aaa;
    padding-inline: 5px;
    font-size: 14px;
}
.submitBtn{
    width: 310px;
    border-radius: 4px;
    height: 40px;
    font-weight: bold;
    background-color: #3c5a99;
    color: white;
    border: none;
}

