* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: #d0d8e4;
}
.header {
  background-color: #405d9b;
  color: #d9dfeb;
  padding: 5px;
  display: flex;
  justify-content: space-between; 
}
.header > h1{
  width: fit-content;
}
.searchCont {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.searchBox {
  width: 400px;
  height: 20px;
  margin-right: 30px;
  border-radius: 4px;
  border: 0;
  padding: 5px;
  padding-right: 25px;
  background-image: url(images/search.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right;
}
.coverArea{
  width: 1000px;
  min-height: 400px;
  margin: auto;
}
.profilePic{
  width: 250px;
  margin-top: -230px;
  border-radius: 50%;
  border: solid 2px white;
}
.menuButtons{
  width: 100px;
  display: inline-block;
  margin: 2px;
}
.friendProfile{
  width: 75px;
  height: 60px;
  float: left;
  margin: 8px;
}
.friendsBar{
  margin-top: 20px;
  background-color: white;
  min-height: 400px;
  color: #aaa;
  padding: 8px ;
}
.friend{
  clear: both;
  font-size: 15px;
  font-weight: bold;
  color: #405d9b;
  text-transform: capitalize;
}